{% extends 'modelo-ifpr.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<h3> {{ titulo }}</h3>
<p class="lead">
    Preencha todos os campos obrigatórios.
</p>


<hr>
<form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %} <!--dispositivo de segurança do Django pra evitar hack -->

    {{ form|crispy }} <!-- Toda vez que eu tenho um create view ele cria como se fosse uma variável com os
    fields, por isto escrever desta forma. -->

    <button type="submit" class="btn btn-primary">
       {{ botao }}
    </button>

</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#id_cep").mask("00.000-000");
        $("#id_inscricao").mask("00.00.000.0000.000");
        $("#id_data_inspecao1").mask("00/00/0000");
        $("#id_data_relatorio1").mask("00/00/0000");
        $('#id_horario_inspecao1').mask('00:00');
        $('#id_entrada_protocolo').mask("00/00/0000");
        $('#id_data_auto').mask("00/00/0000");
    });

    $(document).ready(function(){
        $('#id_estado').select2();
        $('#id_tipo').select2();
        $('#id_cidade').select2();
        $('#id_bairro').select2();
        $('#id_logradouro_proprietario').select2();
        $('#id_logradouro_terreno').select2();
        $('#id_logradouro_correspondencia').select2();
        $('#id_proprietario').select2();
        $('#id_tipo_de_imovel').select2();
        $('#id_solicitante_protocolo').select2();
        $('#id_logradouro').select2();
        $('#id_status_protocolo').select2();
        $('#id_protocolo').select2();
        $('#id_fiscal').select2();
        $('#id_terreno').select2();
        $('#id_inspecao').select2();
    });
</script>

{% endblock %}
