{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns: lang="pt-br">
<head>
<title>Manifesto</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
<style>@page { size: A4 }</style>
<style type="text/css">
 .ft06{font-size:20px;font-family:BAAAAA+Arial;color:#000000;
}

</style>
<!--<style type="text/css">

	p {margin: 0; padding: 0;}	.ft00{font-size:18px;font-family:BAAAAA+Arial;color:#000000;}
	.ft01{font-size:15px;font-family:BAAAAA+Arial;color:#000000;}
	.ft03{font-size:14px;font-family:BAAAAA+Arial;color:#000000;}
	.ft02{font-size:15px;font-family:CAAAAA+ArialMT;color:#000000;
	body {
  background-color: #FFFFFF;
}}

</style>-->
</head>
<body class="A4">
<section class="sheet padding-10mm">
<img src="{% static 'a.png' %}" style="position:absolute;left:50px;top:20px;width:60px"/>




<div id="page1-div" style="position:relative;width:793px;height:1122px;">
<p style="position:absolute;top:-30px;left:131px;white-space:nowrap" class="ft00"><b>PREFEITURA MUNICIPAL DE SÃO SEBASTIÃO DO PARAÍSO</b></p>
<p style="position:absolute;top:-13px;left:260px;white-space:nowrap" class="ft00"><b>Secretaria Municipal de Saúde</b></p>
<p style="position:absolute;top:04px;left:233px;white-space:nowrap" class="ft00"><b>Departamento de Vigilância em Saúde</b></p>
<p style="position:absolute;top:22px;left:260px;white-space:nowrap" class="ft00"><b>Divisão de Vigilância Sanitária</b></p>
<p style="position:absolute;top:52px;left:72px;white-space:nowrap" class="ft01"><b>TERMO DE MANIFESTAÇÃO REFERENTE AO AUTO DE INFRAÇÃO Nº {{ infracao.numero_format_ano }}</b></p>
<p style="position:absolute;top:90px;left:10px;white-space:nowrap" class="ft01"><b>Endereço do imóvel: </b></p>
<p style="position:absolute;top:90px;left:156px;white-space:nowrap" class="ft03">{{ infracao.inspecao.terreno.logradouro_terreno.tipo }}&#160;{{ infracao.inspecao.terreno.logradouro_terreno.nome_logradouro }}, {{ infracao.inspecao.terreno.numero_terreno }} {{ infracao.inspecao.terreno.complemento_terreno.complemento }} - {{ infracao.inspecao.terreno.logradouro_terreno.bairro.nome_bairro }}</p>
<p style="position:absolute;top:116px;left:10px;white-space:nowrap" class="ft01"><b>Inscrição cadastral: </b></p>
<p style="position:absolute;top:116px;left:149px;white-space:nowrap" class="ft02">{{ infracao.inspecao.terreno.inscricao}}</p>
<p style="position:absolute;top:116px;left:305px;white-space:nowrap" class="ft01"><b>Quadra:</b></p>
<p style="position:absolute;top:116px;left:369px;white-space:nowrap" class="ft02"> {{ infracao.inspecao.terreno.quadra }} </p>
<p style="position:absolute;top:116px;left:435px;white-space:nowrap" class="ft01"><b>Lote:</b></p>
<p style="position:absolute;top:116px;left:477px;white-space:nowrap" class="ft02"> {{ infracao.inspecao.terreno.lote }}</p>
<p style="position:absolute;top:116px;left:544px;white-space:nowrap" class="ft01"><b>Área:</b></p>
<p style="position:absolute;top:116px;left:590px;white-space:nowrap" class="ft02"> {{ infracao.inspecao.terreno.area }} m²</p>
<p style="position:absolute;top:142px;left:10px;white-space:nowrap" class="ft01"><b>Proprietário:</b></p>
<p style="position:absolute;top:142px;left:104px;white-space:nowrap" class="ft02"> {{ infracao.inspecao.terreno.proprietario.nome_proprietario }} </p>

     {% if infracao.situacao == "1" %}



<p style="position:absolute;top:168px;left:10px;white-space:nowrap" class="ft01"><b>Responsável por apresentar a defesa:</b></p>
<p style="position:absolute;top:168px;left:268px;white-space:nowrap" class="ft02"> {{ infracao.quem }} </p>


<p style="position:absolute;top:198px;left:10px;white-space:nowrap" class="ft01">O responsável acima apresentou defesa ao Auto de Inf. nº {{ infracao.numero_format_ano }}, conforme requerimento {{ infracao.protocolo_defesa }}</p>
<p style="position:absolute;top:224px;left:10px;white-space:nowrap" class="ft01">de {{ infracao.entrada_protocolo|date:"d/m/Y" }}, contendo os documentos relacionados &#160;no art. 9º da Lei Municipal nº 4778/2021. &#160;A defesa foi</p>
<p style="position:absolute;top:250px;left:10px;white-space:nowrap" class="ft01">apresentada &#160;no prazo estabelecido &#160;no art. 8º da Lei Municipal &#160;nº 4778/2021, considerando que a notificação</p>
<p style="position:absolute;top:276px;left:10px;white-space:nowrap" class="ft01">do Auto de Infração foi entregue em {{ infracao.data_entrega_autuacao|date:"d/m/Y" }}.</p>
<p style="position:absolute;top:302px;left:10px;white-space:nowrap" class="ft01">Em sua defesa, o responsável solicita nova inspeção ao terreno para comprovação da limpeza e &#160;arquivamento</p>
<p style="position:absolute;top:328px;left:10px;white-space:nowrap" class="ft01">da autuação.</p>
<p style="position:absolute;top:354px;left:10px;white-space:nowrap" class="ft01">No &#160;dia &#160;{{ infracao.data_inspecao2|date:"d/m/Y" }}, &#160;as &#160;{{ infracao.horario_inspecao2 }}, o terreno foi inspecionado novamente e, conforme registro fotográfico consta-</p>
<p style="position:absolute;top:380px;left:10px;white-space:nowrap" class="ft01">tou-se que o terreno foi limpo.</p>

  <img src='{{ infracao.foto_inspecao_2.url }}' style="position:absolute;left:100px;top:422px;height:350px;width:520px" />

 <p style="position:absolute;top:765px;left:10px;white-space:nowrap" class="ft01">Assim, de acordo com o art. 10 da Lei Municipal nº 4778/2021, sou pelo arquivamento do Auto de Infração</p>
 <p style="position:absolute;top:791px;left:10px;white-space:nowrap" class="ft01">sem aplicação de penalidade.</p>
    <p style="position:absolute;top:815px;left:10px;white-space:nowrap" class="ft01">Esta é a manifestação.</p>

         <p style="position:absolute;top:841px;left:10px;white-space:nowrap" class="ft02">São&#160;Sebastião&#160;do&#160;Paraíso,
  {{ infracao.data_manifesto|date:"d" }}&#160;de&#160;{{ infracao.data_manifesto|date:"F" }}&#160;de&#160;{{ infracao.data_manifesto|date:"Y" }}</p>
 

	 {% elif infracao.situacao == "2" %}


<p style="position:absolute;top:198px;left:10px;white-space:nowrap" class="ft01">A notificação do Auto de Infração nº {{ infracao.numero_format_ano }} foi &#160;entregue &#160;no endereço &#160;de correspondência do imóvel em</p>
    <p style="position:absolute;top:224px;left:10px;white-space:nowrap" class="ft01">{{ infracao.data_entrega_autuacao|date:"d/m/Y" }}. O proprietário teria até dia {{ infracao.prazo_defesa|date:"d/m/Y" }} para protocolar a defesa. </p>
    <p style="position:absolute;top:250px;left:10px;white-space:nowrap" class="ft01">De &#160;acordo &#160;com &#160;nossos &#160;registros, &#160;não houve apresentação &#160;de defesa, &#160;porém, ao trafegar &#160;pelo &#160;endereço do</p>

<p style="position:absolute;top:276px;left:10px;white-space:nowrap" class="ft01">terreno durante a rotina de fiscalização na data de {{ infracao.data_inspecao2|date:"d/m/Y" }} às {{ infracao.horario_inspecao2 }}, constatou-se &#160;que &#160;o terreno foi limpo,</p>



<p style="position:absolute;top:302px;left:10px;white-space:nowrap" class="ft01">conforme registro fotográfico.</p>
<p style="position:absolute;top:328px;left:10px;white-space:nowrap" class="ft01">Considerando que o objetivo da autuação é que o responsável limpe o seu terreno, &#160;diminuindo ou eliminando</p>
<p style="position:absolute;top:354px;left:10px;white-space:nowrap" class="ft01">o risco de proliferação de insetos e animais peçonhentos nas residências dos vizinhos, &#160;sou pelo arquivamento</p>

<p style="position:absolute;top:380px;left:10px;white-space:nowrap" class="ft01">do Auto de Infração sem aplicação da penalidade.</p>

  <img src='{{ infracao.foto_inspecao_2.url }}' style="position:absolute;left:100px;top:428px;height:350px;width:520px" />

    <p style="position:absolute;top:771px;left:10px;white-space:nowrap" class="ft01">Esta é a manifestação.</p>

         <p style="position:absolute;top:797px;left:10px;white-space:nowrap" class="ft02">São&#160;Sebastião&#160;do&#160;Paraíso,
  {{ infracao.data_manifesto|date:"d" }}&#160;de&#160;{{ infracao.data_manifesto|date:"F" }}&#160;de&#160;{{ infracao.data_manifesto|date:"Y" }}</p>

    {% elif infracao.situacao == "3" %}


<p style="position:absolute;top:198px;left:10px;white-space:nowrap" class="ft01">A notificação &#160;do Auto de Infração nº {{ infracao.numero_format_ano }} foi entregue &#160;no endereço &#160;de correspondência&#160; do imóvel em</p>
    <p style="position:absolute;top:224px;left:10px;white-space:nowrap" class="ft01">{{ infracao.data_entrega_autuacao|date:"d/m/Y" }}.&nbsp; O &nbsp;proprietário &nbsp;teria &nbsp;até &nbsp;dia {{ infracao.prazo_defesa|date:"d/m/Y" }} &nbsp;para &nbsp;protocolar a defesa considerando os 10 (dez) dias</p>
    <p style="position:absolute;top:250px;left:10px;white-space:nowrap" class="ft01">úteis do recebimento da correspondência, &#160;conforme art. 8º da Lei Municipal nº 4778/2021. &#160;Dada &#160;a &#160;inação do</p>

    <p style="position:absolute;top:276px;left:10px;white-space:nowrap" class="ft01">proprietário &#160;em &#160;manifestar-se &#160;no &#160;processo, &#160;tem-se &#160;por necessário a decretação da revelia e de todos os seus</p>
    <p style="position:absolute;top:302px;left:10px;white-space:nowrap" class="ft01">efeitos devido ao decurso do prazo.</p>

 <p style="position:absolute;top:342px;left:10px;white-space:nowrap" class="ft01">Assim, de acordo com o art. 11 da Lei Municipal nº 4778/2021, sou pela aplicação de penalidade de multa na </p>
 <p style="position:absolute;top:368px;left:10px;white-space:nowrap" class="ft01">proporção de 1% (um por cento) do Valor de Referência do Município (VRM) por metro quadrado de terreno,</p>
 <p style="position:absolute;top:394px;left:10px;white-space:nowrap" class="ft01">utilizando com base o Cadastro Imobiliário da Prefeitura.</p>
     <p style="position:absolute;top:434px;left:10px;white-space:nowrap" class="ft01">Esta é a manifestação.</p>
     <p style="position:absolute;top:474px;left:10px;white-space:nowrap" class="ft02">São&#160;Sebastião&#160;do&#160;Paraíso,
  {{ infracao.data_manifesto|date:"d" }}&#160;de&#160;{{ infracao.data_manifesto|date:"F" }}&#160;de&#160;{{ infracao.data_manifesto|date:"Y" }}</p>

      {% elif infracao.situacao == "4" %}
   

      <h1 style="position:absolute;top:302px;left:190px">Manifestação feita fora do sistema</h1>

    {% endif %}




     {% if infracao.inspecao.fiscal.nome_fiscal != "GUILHERME FIRMINO DUARTE" %}
        <p style="position:absolute;top:942px;left:10px;white-space:nowrap" class="ft02">A/C Referência Técnica da Vigilância Sanitária</p>
        <p style="position:absolute;top:968px;left:10px;white-space:nowrap" class="ft02">Sr. Guilherme Firmino Duarte</p>
    {% elif infracao.inspecao.fiscal.nome_fiscal == "GUILHERME FIRMINO DUARTE" %}
        <p style="position:absolute;top:942px;left:10px;white-space:nowrap" class="ft02">A/C Coordenadora de Vigilância em Saúde</p>
        <p style="position:absolute;top:968px;left:10px;white-space:nowrap" class="ft02">Sra. Fernanda Amorim Spósito Scarano </p>


     {% endif %}



<p style="position:absolute;top:1010px;left:8px;white-space:nowrap" class="ft02">Divisão&#160;de&#160;Vigilância&#160;Sanitária&#160;–&#160;Rua&#160;Dr.&#160;Placidino&#160;Brigagão,&#160;1230&#160;–&#160;Centro&#160;–&#160;São&#160;Sebastião&#160;do&#160;Paraíso&#160;–&#160;MG</p>
<p style="position:absolute;top:1030px;left:140px;white-space:nowrap" class="ft02">Telefone&#160;(35)3539-5003&#160;–&#160;e-mail&#160;vigilancia.saude@ssparaiso.mg.gov.br</p>
  <img style="position:absolute;top:10.76in;left:0.090in;width:7.40in;height:0.02in" src="{% static 'ci_2.png' %}" />

</section>
</div>
</body>
</html>

