{% extends 'modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h3>Lista de produtividade
<a href="{% url 'cadastrar-produtividade' %}" class="btn btn-primary btn-sm float-right">Adicionar Produtividade</a>
</h3>



<hr>
<div class="table responsive">
<table class="table table-striped">
    <tr>
        <th>Descrição</th>
        <th>PDF</th>
        <th>Opções</th>

    </tr>
    {% for produtividade in object_list %}
    <tr>
        <td>{{ produtividade.descricao }}</td>
        <td><a href="{{ produtividade.pdf_teste.url }}">Ver</a> </td>
        <td>
            <a href="{% url 'editar-produtividade' produtividade.pk %}" class="btn btn-warning btn-sm" title="Editar">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="{% url 'deletar-produtividade' produtividade.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="3">Nenhum campo registrado.</td>
        </tr>
    {% endfor %}

</table>

</div>
{% endblock %}